{% extends "layouts.html" %}
{% block content %}
   <div class="jumbotron container">
      <h2 class="text-center">hello khan this </h2>
       <h1>This is profile page using html</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatem corrupti exercitationem quis similique?</h1>
    <h5>hello this is test</h5>
    <h2>{{about.title}}</h2>
    <img src="{{about.image.url}}"style="height: 200px; width: 400px;">

    <p>{{about.description}}</p>
   </div>
  
{% endblock  %}
   
    
